h3{
    color: black;
}

section{
    padding-bottom: 7px;
}

p{
    margin-top: 5px;
    margin-bottom: 5px;
}

.tooltip {
    position: relative;
    display: inline-block;
    border-bottom: 1px dotted white;
  }
  
  .tooltip__text {
    width: 300px;
    background-color: rgb(249, 170, 128);
    color: black;
    text-align: left;
    border-radius: 15px;
    padding: 5px 10px;
    position: absolute; /*zodat het op de rest van de pagina komt en niet ertussen*/
    bottom: 125%;
    display: none;
  }
