
p{
    display: block;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
}

video{
    width: 100%    !important;
    border-radius: 15px;
}
#aside {
    font-style: italic;
}
#trailer {
    float: left;
    width: 60%;
    margin-right: 20px;
}

#map img{
    width: 100%;
    height: auto;
}
#map{
    width: 80%;
}
#funfacts{
    font-size: 40px;
}

figure{
    display: inline-block;
    background-color: rgba(255, 130, 62, 0.7);
    border-radius: 15px;
    border: thin white solid;
    margin: 0.5em;
    padding: 10px;
}
figcaption{
    padding-top: 10px;
    padding-bottom: 10px;
}
#ship{
    width: 30%;
    min-width: 200px;
    float:right;
    margin: 20px;
}

#ship img{
    border-radius: 15px;
    width: 100%;
    height: auto;
}
@media screen and (max-width: 550px) {    
    #map{
        width:90%;
    }
    #trailer{
        width: 90%;
        float: none;
    }
    #funfacts{
        float: none;
    }
}



