#summary-img{
    float: right;
    width: 30%;
    min-width: 200px;
    margin-left: 50px;
    margin-bottom: 50px;
}

@media screen and (max-width: 1025px) {
    #summary-img{
      margin: 10px;
    }
}





