
#article2 {
  background-color: transparent;
  padding-left: 0px;
}

  #reviews-active{
    background-color: rgba(255, 158, 106, 0.7);
    color: black;    
  }

  .box {
    margin-top: 30px;
    display: flex;
    width: 60%;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
    margin-bottom: 10px;
    border-radius: 8px;
    padding: 10px 0px;
    background-color: rgba(255, 158, 106, 0.7);
  }

  .container {
    text-align: center;
  }

  .review-image {
    width: 120px; height: 120px;
    padding: 10px;
    border-radius: 15px;
  }
  
  .review-text {
    margin: auto 20px auto 0px;
  }

  .review-name{
    color: black;
   }
  

table{
  background-color: rgba(255, 158, 106, 0.7);
  align-self: center;
}

#characters{
    margin-right: 100px;
    color: black;
  }

#characters td, #characters th {
    border: 1px solid black;
    padding: 8px;
  }

#characters tr:hover {background-color: rgba(158, 100, 69, 0.7);}

#characters th {
    color: white;
    font-size: 20px;
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: rgb(158, 100, 69);
  }

.character-image{
  width: 70px; height: 70px;
  border-radius: 8px;
}

@media screen and (max-width: 1025px){
  .box {
    width: 90%;
  }
  #characters{
    margin-right: 30px;
  }
}

@media screen and (max-width: 550px){
  .box{
    width: 100%;
  }
  h2{
    border-radius: 15px;
  }
  #article2{
    padding: 0px;
  }
  #characters{
    margin-right: 0px;
  }
}